name: Close Issues with Specific Labels

on:
  issues:
    types: [labeled]

jobs:
  close-issue:
    runs-on: ubuntu-latest
    steps:
      - name: Close issue if labeled wontfix or completed
        if: contains(github.event.label.name, 'wontfix') || contains(github.event.label.name, 'completed')
        uses: actions/github-script@v7
        with:
          script: |
            github.rest.issues.update({
              owner: context.repo.owner,
              repo: context.repo.repo,
              issue_number: context.issue.number,
              state: 'closed'
            })